body {
  text-align: center;
}

main {
  border-radius: 4%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(7, 230, 230);
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  list-style: none;
}

.nav-items {
  color: white;
  text-decoration: none;
}

.nav-items:hover {
  color: rgb(15, 238, 238);
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  color: white;
  background-color: rgb(7, 230, 230);
}
